<h1><%= controller.action_name == 'search' ? 'Searching articles' : 'Listing articles' %></h1>

  <hr>

  <%= form_tag search_articles_path, method: 'get' do %>
    <div class="input-group">
  <%= text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search...' %>

  <span class="input-group-btn">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </span>
</div>

  <% end %>

  <hr>


<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Published on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.__send__ controller.action_name == 'search' ? :each_with_hit : :each do |article, hit| %>
  <tr>
    <td><%= hit.try(:highlight).try(:title)   ? hit.highlight.title.join.html_safe : article.title %></td>
    <td><%= hit.try(:highlight).try(:content) ? hit.highlight.content.join('&hellip;').html_safe : article.content %></td>
    <td><%= article.published_on %></td>
    <td style="width: 50px"><%= link_to 'Show', article , class: 'btn btn-default btn-xs'%></td>
    <td style="width: 50px"><%= link_to 'Edit', edit_article_path(article) , class: 'btn btn-default btn-xs'%></td>
    <td style="width: 50px"><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-default btn-xs'%></td>
  </tr>
<% end %>
</table>

<div class="text-center">
  <%= paginate @articles %>
</div>


<br />

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary btn-xs', style: 'color: #fff' %>  
  <%= link_to 'All Articles', articles_path, class: 'btn btn-primary btn-xs', style: 'color: #fff' if params[:q] %>

