<%= form_for(@authorship) do |f| %>
  <% if @authorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@authorship.errors.count, "error") %> prohibited this authorship from being saved:</h2>

      <ul>
      <% @authorship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article %><br />
    <%= f.text_field :article %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
