<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= @authorship.article %>
</p>

<p>
  <b>Author:</b>
  <%= @authorship.author %>
</p>


<%= link_to 'Edit', edit_authorship_path(@authorship) %> |
<%= link_to 'Back', authorships_path %>
